@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<div>
    <h1>Play Hangman!</h1>
    <a href="/play-hangman">Play new game</a>

    <h2>Statistieken</h2>
    <a href="/statistics">View stats</a>

    <h3>HighScores</h3>
    <a href="/highscores">View High Scores</a>
</div>
