@page "/play-hangman"
@model HangmanWebApp.Pages.PlayGame.PlayGameModel
@{
}

<form asp-page-handler="start" method="post">
    <label for="name-input">Enter name:</label>
    <input id="name-input" asp-for="PlayerName" />
    <button>Play Hangman!</button>
</form>

@{
    if (Model.PlayerName != null)
    {
        <label asp-for="PlayerName">Registered player: @Model.PlayerName</label>
    }
}
<br />
<br />
<br />
<br />
<form>
    <label id="secret-word-label">Secret word: </label>
    <input id="secretword" readonly asp-for="SolutionString"></input>
</form>
<br />
<form asp-page-handler="guess" method="post" autocomplete="off" >
    <input id="guess" asp-for="Guess" />
    <button>Submit guess</button>
</form>

<div>
    <label id="triesLeft">Tries left:</label>
    <input asp-for="TriesLeft" readonly />
</div>

<div>
    <label id="turns">Turns:</label>
    <input asp-for="Turns" readonly />
</div>

<div>
    <label id="guessedLetters">Guessed letters:</label>
    <input asp-for="GuessedLettersString" readonly />
</div>

<div>
    <label>Game is: </label>
    <input asp-for="GameProgress" readonly/>
</div>

<div>
    <form method="get" asp-page-handler="newGame">
        <button>Start een nieuwe game.</button>
    </form>
</div>


